In [1]:
from data import retrieve_data, sma_indicator
from bot import Bot

In [2]:
df = sma_indicator(retrieve_data())
df

,timestamp,open,high,low,close,volume,sma_21,sma_9,position
0,2021-05-09,75312.3,75995.9,72184.5,74452.5,14.416112,NaN,NaN,0
1,2021-05-10,74588.7,76085.4,69500.0,71760.6,25.485468,NaN,NaN,0
2,2021-05-11,71760.0,73025.0,69949.0,72914.0,27.154785,NaN,NaN,0
3,2021-05-12,73356.7,74673.4,63494.6,64106.5,44.136697,NaN,NaN,0
4,2021-05-13,64140.9,66995.2,60868.4,64683.6,57.358741,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...
715,2023-04-24,41365.0,41926.1,40406.2,41044.4,11.390838,43127.333333,42656.166667,-1
716,2023-04-25,41046.1,42710.0,40860.8,42651.0,9.141922,43173.290476,42376.977778,-1
717,2023-04-26,42592.0,45441.1,41350.6,42907.9,13.077405,43219.357143,42264.377778,-1
718,2023-04-27,42959.2,44998.1,42959.2,44413.6,7.589078,43335.080952,42194.955556,-1
719,2023-04-28,44463.6,44735.0,43910.8,44329.0,10.874266,43451.276190,42345.488889,-1

In [3]:
bot = Bot()
for i, row in df.iterrows():
    bot.step(t=i, position=row['position'], price=row['close'])

Day 0: buy 0.00132 BTC, spend 100 AUD
Day 20: sell 0.00132 BTC, get 58.207 AUD
Day 37: buy 0.00109 BTC, spend 58.207 AUD
Day 45: sell 0.00109 BTC, get 47.845 AUD
Day 58: buy 0.00103 BTC, spend 47.845 AUD
Day 65: sell 0.00103 BTC, get 44.294 AUD
Day 78: buy 0.00085 BTC, spend 44.294 AUD
Day 121: sell 0.00085 BTC, get 53.15 AUD
Day 149: buy 0.00073 BTC, spend 53.15 AUD
Day 175: sell 0.00073 BTC, get 59.043 AUD
Day 181: buy 0.00069 BTC, spend 59.043 AUD
Day 195: sell 0.00069 BTC, get 55.911 AUD
Day 231: buy 0.00078 BTC, spend 55.911 AUD
Day 237: sell 0.00078 BTC, get 50.194 AUD
Day 272: buy 0.00084 BTC, spend 50.194 AUD
Day 288: sell 0.00084 BTC, get 42.35 AUD
Day 300: buy 0.00077 BTC, spend 42.35 AUD
Day 306: sell 0.00077 BTC, get 40.306 AUD
Day 316: buy 0.00071 BTC, spend 40.306 AUD
Day 336: sell 0.00071 BTC, get 39.467 AUD
Day 392: buy 0.00093 BTC, spend 39.467 AUD
Day 399: sell 0.00093 BTC, get 34.496 AUD
Day 426: buy 0.00107 BTC, spend 34.496 AUD
Day 468: sell 0.00107 BTC, get 32.408 AUD
Day 491: buy 0.00098 BTC, spend 32.408 AUD
Day 500: sell 0.00098 BTC, get 26.816 AUD
Day 511: buy 0.00088 BTC, spend 26.816 AUD
Day 532: sell 0.00088 BTC, get 26.632 AUD
Day 535: buy 0.00082 BTC, spend 26.632 AUD
Day 549: sell 0.00082 BTC, get 19.765 AUD
Day 572: buy 0.00077 BTC, spend 19.765 AUD
Day 592: sell 0.00077 BTC, get 19.015 AUD
Day 611: buy 0.00074 BTC, spend 19.015 AUD
Day 644: sell 0.00074 BTC, get 22.726 AUD
Day 650: buy 0.00062 BTC, spend 22.726 AUD
Day 664: sell 0.00062 BTC, get 20.125 AUD
Day 677: buy 0.00048 BTC, spend 20.125 AUD
Day 715: sell 0.00048 BTC, get 19.387 AUD