In [1]:
from data import retrieve_data, sma_indicator
from bot import Bot

In [2]:
df = sma_indicator(retrieve_data())
df

,timestamp,open,high,low,close,volume,sma_21,sma_9,position
0,2023-01-22,32798.9,33234.9,32145.4,32610.5,6.951511,NaN,NaN,0
1,2023-01-23,32555.4,33021.7,32312.0,32694.9,10.825449,NaN,NaN,0
2,2023-01-24,32644.5,32940.0,32104.0,32145.7,9.666291,NaN,NaN,0
3,2023-01-25,32230.7,33450.3,31590.6,32553.2,43.776974,NaN,NaN,0
4,2023-01-26,32542.8,32740.8,32221.8,32418.4,12.936418,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...
95,2023-04-27,42959.2,44998.1,42959.2,44413.6,7.589078,43335.080952,42194.955556,-1
96,2023-04-28,44463.6,44735.0,43910.8,44308.0,14.517841,43450.276190,42343.155556,-1
97,2023-04-29,44360.6,44497.1,44012.4,44271.6,3.609197,43562.857143,42608.577778,-1
98,2023-04-30,44271.5,45241.4,44062.8,44216.2,3.898259,43647.904762,42994.522222,-1
99,2023-05-01,44216.2,44299.5,42626.6,42979.8,7.541198,43574.380952,43128.611111,-1

In [3]:
bot = Bot()
for i, row in df.iterrows():
    bot.step(t=i, position=row['position'], price=row['close'])

# close positions at the end of the run
bot.sell(i+1, row['close'])

print(bot.aud) # or bot.roi?

Day 020	buy	0.00309 BTC	100.000 AUD spent
Day 021	sell	0.00309 BTC	95.417 AUD recieved
Day 027	buy	0.00261 BTC	95.417 AUD spent
Day 041	sell	0.00261 BTC	84.496 AUD recieved
Day 054	buy	0.00202 BTC	84.496 AUD spent
Day 092	sell	0.00202 BTC	81.397 AUD recieved
81.39706235651234

In [7]:
for row in df.values:
    print(row)
    break

[Timestamp('2023-01-22 00:00:00') 32798.9 33234.9 32145.4 32610.5
 6.9515108 nan nan 0]